{% extends "layout.html"%}

{% block content %}
     <div class="ui inverted menu">
        <a class="item" href="/">
            Início
        </a>
        <a class=" active item" href="/brasil">
            Brasil
        </a>
        <a class="item" href="/portugal">
            Portugal
        </a>       
    </div>

        <div class="ui divider"></div>
    <p> Os nomes de localidades abaixo correspondem aos nomes atuais. Posteriormente serão adicionadas informações históricas de nomes anteriores para cada localidade.<br><br> Caso você tenha interesse em contribuir com este projeto, envie-me um email: ricardo@iamprins.com</p>
    <div class="ui divider"></div>
    
    <form method="get">
        <h2>Filtrar</h2>
        <div class="ui input">
            <input name="estado" type="text" placeholder="Estado" value="{{ estado or ''}}">
        </div>

        <div class="ui input">
            <input name="municipio" type="text" placeholder="Município" value={{ municipio or '' }}>
        </div>
        <button type="submit" class="ui button primary">Filtrar</button>
    </form>
    <a href="/brasil"><button class="ui button">Limpar filtro</button></a>

    <div class="ui divider"></div>

    <div class="ui container">
    <table class="ui celled table">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Município</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.estado }}</td>
                        <td>{{ place.municipio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ui divider"></div>
{% endblock %}