{% extends "layout.html"%}

{% block content %}

<section id="contact" class="contact">
    <div class="container">

    <div class="section-title" data-aos="fade-up">
        <h2>Contato</h2>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="contact-about">
            <h3>Ricardo Prins</h3>
            <p>Caso deseje entrar em contato, seja para obter mais informações, ou caso tenha interesse em me ajudar em minha pesquisa, ou se tiver identificado alguma informação incorreta, entre em contato comigo ou por email, ou por redes sociais, ou pelo formulário ao lado.</p>
            <div class="social-links">
            <a href="https://www.twitter.com/thericardoprins" class="twitter" target="_blank"><i class="icofont-twitter"></i></a>
            <a href="https://www.github.com/ricardoprins" class="github" target="_blank"><i class="icofont-github"></i></a>
            <a href="https://www.instagram.com/thericardoprins" class="instagram" target="_blank"><i class="icofont-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ricprins" class="linkedin" target="_blank"><i class="icofont-linkedin"></i></a>
            </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="info">

            <div>
            <i class="ri-mail-send-line"></i>
            <p>ricardo@iamprins.com</p>
            </div>

            <div>
            <i class="ri-phone-line"></i>
            <p>+1 385 201-5229</p>
            </div>

        </div>
        </div>

        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
        <form action="#" method="post" role="form" class="php-email-form">
            <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Por favor, um mínimo de 4 caracteres" />
            <div class="validate"></div>
            </div>
            <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Por favor, insira um email válido" />
            <div class="validate"></div>
            </div>
            <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Por favor, um mínimo de 8 caracteres" />
            <div class="validate"></div>
            </div>
            <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Insira sua mensagem aqui" placeholder="Mensagem"></textarea>
            <div class="validate"></div>
            </div>
            <div class="mb-3">
            <div class="loading">Carregando</div>
            <div class="error-message"></div>
            <div class="sent-message">Mensagem enviada. Obrigado!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar</button></div>
        </form>
        </div>

    </div>

    </div>
</section>

{% endblock %}