{% extends "layout.html"%}

{% block content %}
    <div class="ui inverted menu">
        <a class="active item" href="/">
            Início
        </a>
        <a class="item" href="/brasil">
            Brasil
        </a>
        <a class="item" href="/portugal">
            Portugal
        </a>
    </div>

    <div class="ui container">
    <h1>Lusobrasilidades</h1>
    <div class="ui divider"></div>
    <p>Este projeto surgiu de uma necessidade pessoal - ao fazer pesquisas em Portugal, constatei que havia uma grande dificuldade de se encontrar nomes de localidades de forma precisa. Passei então a coletar informações, compilando arquivos e dados sobre as diversas reformas administrativas de lá - vale lembrar que Portugal é o país mais antigo da Europa!</p>
    <p>Assim, pouco a pouco, tenho buscado organizar essas informações de maneira a possibilitar que elas sejam facilmente acessadas: e agora, surgiu a ideia de montar esta página. Espero que essas informações sejam úteis a todos os que desejam buscar informações sobre seus antepassados, ou para aqueles que pretendem fazer algum tipo de pesquisa histórica sobre Portugal e Brasil - também decidi incluir o Brasil nessa empreitada, visto que tampouco há informações totalmente concisas e precisas até mesmo no site do IBGE.</p>
    <p>Para todos os que desejem contribuir com informações para esse projeto - vale lembrar que eu estou arcando inteiramente com os custos dele, e que não tenho qualquer fim lucrativo com isso - fico à disposição.</p>
    <p>Caso deseje entrar em contato comigo, envie-me um e-mail para ricardo@iamprins.com. Obrigado!</p>

    </div>
{% endblock %}