{% extends "layout.html"%}

{% block content %}
    <div class="ui inverted menu">
        <a class="item" href="/">
            Início
        </a>
        <a class="item" href="/brasil">
            Brasil
        </a>
        <a class="active item" href="/portugal">
            Portugal
        </a>
    </div>

    <div id="distrito" class="ui input">
        <input type="text" placeholder="Distrito">
    </div>

    <div id="municipio" class="ui input">
        <input type="text" placeholder="Município">
    </div>

    <div id="freguesia" class="ui input">
        <input type="text" placeholder="Freguesia">
    </div>

    <div class="ui divider"></div>

    <div class="ui container">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Distrito</th>
                    <th>Município</th>
                    <th>Freguesia</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.distrito }}</td>
                        <td>{{ place.municipio }}</td>
                        <td>{{ place.freguesia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  

{% endblock %}