{% extends "layout.html"%}

{% block content %}
    <div class="ui inverted menu">
        <a class="item" href="/">
            Início
        </a>
        <a class="item" href="/brasil">
            Brasil
        </a>
        <a class="active item" href="/portugal">
            Portugal
        </a>
    </div>
    <div class="ui divider"></div>
    <p> Os nomes de localidades abaixo correspondem aos nomes atuais, conforme a Reforma Administrativa de 2011. Posteriormente serão adicionadas informações históricas de nomes anteriores para cada localidade.<br><br> Caso você tenha interesse em contribuir com este projeto, envie-me um email: ricardo@iamprins.com</p>
    <div class="ui divider"></div>
    
    <form method="get">
        <h2>Filtrar</h2>
        <div class="ui input">
            <input name="distrito" type="text" placeholder="Distrito" value="{{ distrito or ''}}">
        </div>

        <div class="ui input">
            <input name="municipio" type="text" placeholder="Município" value={{ municipio or '' }}>
        </div>

        <div class="ui input">
            <input name="freguesia" type="text" placeholder="Freguesia" value={{ freguesia or '' }}>
        </div>
        <button type="submit" class="ui button primary">Filtrar</button>
    </form>
    <a href="/portugal"><button class="ui button">Limpar filtro</button></a>

    <div class="ui divider"></div>

    <div class="ui container">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Distrito</th>
                    <th>Município</th>
                    <th>Freguesia</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.distrito }}</td>
                        <td>{{ place.municipio }}</td>
                        <td>{{ place.freguesia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="ui divider"></div>  

{% endblock %}