{% extends "layout.html"%}

{% block content %}
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <form method="get">
                <div class="ui input">
                    <input name="distrito" type="text" placeholder="Distrito" value="{{ distrito or ''}}">
                    <input name="municipio" type="text" placeholder="Município" value={{ municipio or '' }}>
                    <input name="freguesia" type="text" placeholder="Freguesia" value={{ freguesia or '' }}>
                </div>
                <button type="submit" class="ui button primary">Filtrar</button>
                <a href="/portugal"><button class="ui button">Limpar filtro</button></a>
            </form>
            <ol>
                <li><a href="/">Início</a></li>
                <li>Portugal</li>
            </ol>
        </div>
    </div>
</section>
<!-- End Breadcrumbs Section -->

<section class="inner-page">
    <div class="section-title"><h2>Portugal</h2></div>
    <div class="ui container">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Distrito</th>
                    <th>Município</th>
                    <th>Freguesia</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.distrito }}</td>
                        <td>{{ place.municipio }}</td>
                        <td>{{ place.freguesia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}